@import "tailwindcss";

.form-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
    url(./static/payroll_form_bg.jpg);
  background-position: bottom center;
  background-size: cover;
}

.custom-transition {
  transition: 0.7s ease;
}
