@import "tailwindcss";

.form-bg {
  background: linear-gradient(rgba(29, 66, 88, 0.7), rgba(29, 66, 88, 0.7)),
    url(./static/payroll_form_bg.jpg);
  background-position: bottom center;
  background-size: cover;
}
